<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021883255891-mmsi0utgrhet1gb11ic5bst11t65sj6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021883255891-mmsi0utgrhet1gb11ic5bst11t65sj6i</string>
	<key>API_KEY</key>
	<string>AIzaSyDwMaM8gn1bgO4GuHbIQ9DMIDOaX-hS9o0</string>
	<key>GCM_SENDER_ID</key>
	<string>1021883255891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ulearn</string>
	<key>PROJECT_ID</key>
	<string>ulearning-app-19a09</string>
	<key>STORAGE_BUCKET</key>
	<string>ulearning-app-19a09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021883255891:ios:ea0dfdde38507960b1caa6</string>
</dict>
</plist>